<p>Add a new word:</p>

<form action="/wordInput" method="post">
  <label for="word">Word</label>
  <input id="word" name="word" type="text">

  <button type="submit" class="btn btn-danger">Add a new word</button>
</form>
